<h2>Lista de categorias:</h2>
<hr>
<!-- chamando a url criada na paginas de rotas -->
<a href="/admin/categorias/add"><button class="btn btn-success">Nova categoria</button></a> <!-- sempre iniciar com a "/" se não ele vai enter como uma rota e não como um arquivo-->

<!-- chamando função criada na rota "admin/categorias" no arquivo "admin" para renderizar as coleçoes do banco de dados-->
{{#each categorias}}
<div class="card mt-4">
    <div class="card-body mt-4">
        <h4>{{nome}}</h4> 
        <hr>
        <small>Slug: <strong>{{slug}}</strong></small>
        <br>
        <small>Data: {{date}}</small><br>
        <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-success mt-4">Editar categoria</button></a>
        <form action="/admin/categorias/delete" method="post">
            <input type="hidden" name="id" value="{{_id}}">
           <button type="subimit" class="btn btn-danger mt-2">Deletar</button>
        </form>
    </div>
</div>
    
{{else}}

{{/each}}