<h2>Lista de postagens:</h2>
<hr>
<!-- chamando a url criada na paginas de rotas -->
<a href="/admin/postagem/add"><button class="btn btn-success">Nova postagem</button></a> <!-- sempre iniciar com a "/" se não ele vai enter como uma rota e não como um arquivo-->

 {{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>  
        <small>{{data}}</small> 
        <p>{{descricao}}</p> 
        <p>{{categoria.nome}}</p>
        <p>{{conteudo}}</p> 
        <a href="/admin/postagem/edit/{{_id}}"><button class="btn btn-success mt-2">Editar</button></a><br>
        <form action="/admin/postagem/edit" method="post">
        <button type="submit" class="btn btn-danger mt-2  ">Deletar</button>>
        <input type="hidden" name="id" value="{{_id}}">
        </form>
        
        <hr>
 </div>
</div>
        {{else}}
          Nenhuma postagem listada!
        {{/each}}
   
