<h2>Lista de postagens:</h2>
<hr>
<!-- chamando a url criada na paginas de rotas -->
<a href="/admin/postagem/add"><button class="btn btn-success">Nova postagem</button></a> <!-- sempre iniciar com a "/" se não ele vai enter como uma rota e não como um arquivo-->
<form action="" ></form>
<div class="card">
    <div class="card-body">
        {{#each postagens}}
        <h3>{{titulo}}</h3>  
        <small>{{data}}</small> 
        <p>{{descricao}}</p> 
        <p>{{categoria.nome}}</p>
        <p>{{conteudo}}</p> 
        {{else}}
          Nenhuma postagem listada!
        {{/each}}
    </div>
</div>