<div class="jumbotron">
  <h1 class="display-4">Pagina de posts</h1>
  <p class="lead">Mantenha-se sempre atualizado em relação aos posts no banco de dados local criando  a sua conta</p>
  <hr class="my-4">
  <p>Rapido e prático</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Criar conta</a>
  </p>
</div>

  {{#each postagens}} 
<div class="card mt-2">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <hr>
        <h5>{{categoria.nome}}</h4>
        <p>{{descricao}}</p>
        <p>{{conteudo}}</p>
    </div>
</div>
  {{else}}
<h4>Nenhuma postagem</h4>
  {{/each}}
